* {
box-sizing: border-box;
}
h1 {
	text-align: center;
	font-size: 400%;
	margin-top:30px;
	
}

html {
	background: grey;
	width: 1000px;
	margin: 0 auto;
}

#container {
	background: white;
	width: 1000px;
	top: 0;
	bottom: 0;
	position: absolute;
	
}

label {
	margin-left: 35px;
    display: block;
    width: 190px;
}

.textfield {
    position: relative;
	left: 35px;
	//margin-left: 130px;
	//margin: auto;
	//margin-right: -100px;
	//position: absolute;
	//padding-left: 50px;
	//display: run-in;
    //float: right;
}


p {
	margin-left: 35px;
}

p5 {
	margin-left: 35px;
}
#preview_area {
	margin-left: 35px;
	border: 1px solid;
	width: 400px;
	height: 100px;
}
